<% layout("/layouts/boilerplate") %>

<h1>Delivery Orders</h1>

<% for (let order of deliveryOrders) { %>
    <a href="/deliveryOrderCheck/<%= encodeURIComponent(order._id) %>" class="order-link">

    <div class="order-card" data-id="<%= order.id %>">
      <div class="order-info">
        <div class="order-tb-no">
          Delivery Number : <%= order.deliveryNumber %>
        </div>
        <br>
        <div class="created-time">
            Time : <%= order.formattedDate %>
          </div>
        <br>
      </div>
    </div>
  </a>
  <hr>
<% } %>


<script>
    // Check if the current page is /dineInOrders or /deliveryOrders
    if (window.location.pathname === "/dineInOrders" || window.location.pathname === "/deliveryOrders") {
      // Refresh the page every 10 seconds
      setInterval(function() {
        location.reload();
      }, 10000); // Refresh every 10 seconds
    }
  </script>